In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import os

# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

In [2]:
# File to Load (Remember to Change These)
clinical_df = pd.read_csv("raw_data/clinicaltrial_data.csv")
mouse_df = pd.read_csv("raw_data/mouse_drug_data.csv")

In [3]:
# Read the Clinical Trial Data
clinical_df.head(5)

  Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0     b128          0                45.0                 0
1     f932          0                45.0                 0
2     g107          0                45.0                 0
3     a457          0                45.0                 0
4     c819          0                45.0                 0

In [4]:
# Read the Mouse Data
mouse_df.head(5)

  Mouse ID      Drug
0     f234  Stelasyn
1     x402  Stelasyn
2     a492  Stelasyn
3     w540  Stelasyn
4     v764  Stelasyn

In [67]:
# Combine the data into a single dataset
# Merge two dataframes using a left join

drugtrial_df = pd.merge(clinical_df, mouse_df, on="Mouse ID", how="left")



drugtrial_df.head()

  Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites       Drug
0     b128          0                45.0                 0  Capomulin
1     f932          0                45.0                 0   Ketapril
2     g107          0                45.0                 0   Ketapril
3     a457          0                45.0                 0   Ketapril
4     c819          0                45.0                 0   Ketapril

In [69]:
# Store the Mean Tumor Volume Data Grouped by Drug and Timepoint 
tumor_mean_df = drugtrial_df[['Drug','Timepoint','Tumor Volume (mm3)']].groupby(['Drug','Timepoint']).mean()

# Convert to DataFrame
tumor_mean_df = tumor_mean_df.reset_index()

# Preview DataFrame
tumor_mean_df.head()

        Drug  Timepoint  Tumor Volume (mm3)
0  Capomulin          0           45.000000
1  Capomulin          5           44.266086
2  Capomulin         10           43.084291
3  Capomulin         15           42.064317
4  Capomulin         20           40.716325

In [70]:
# Store the Standard Error of Tumor Volumes Grouped by Drug and Timepoint
tumor_sem_df = drugtrial_df[['Drug','Timepoint','Tumor Volume (mm3)']].groupby(['Drug','Timepoint']).sem()

# Convert to DataFrame
tumor_sem_df = tumor_sem_df.reset_index()

# Preview DataFrame
tumor_sem_df.head()

        Drug  Timepoint  Tumor Volume (mm3)
0  Capomulin          0            0.000000
1  Capomulin          5            0.448593
2  Capomulin         10            0.702684
3  Capomulin         15            0.838617
4  Capomulin         20            0.909731

In [71]:
table_avg_volumn = pd.pivot_table(tumor_mean_df, values=["Tumor Volume (mm3)"], index=["Timepoint"], columns=["Drug"])
table_avg_volumn

          Tumor Volume (mm3)                                              \
Drug               Capomulin   Ceftamin  Infubinol   Ketapril   Naftisol
Timepoint
0                  45.000000  45.000000  45.000000  45.000000  45.000000
5                  44.266086  46.503051  47.062001  47.389175  46.796098
10                 43.084291  48.285125  49.403909  49.582269  48.694210
15                 42.064317  50.094055  51.296397  52.399974  50.933018
20                 40.716325  52.157049  53.197691  54.920935  53.644087
25                 39.939528  54.287674  55.715252  57.678982  56.731968
30                 38.769339  56.769517  58.299397  60.994507  59.559509
35                 37.816839  58.827548  60.742461  63.371686  62.685087
40                 36.958001  61.467895  63.162824  66.068580  65.600754
45                 36.236114  64.132421  65.755562  70.662958  69.265506


Drug         Placebo   Propriva   Ramicane   Stelasyn  Zoniferol
Timepoint
0          45.000000  45.000000  45.000000  45.000000  45.000000
5          47.125589  47.248967  43.944859  47.527452  46.851818
10         49.423329  49.101541  42.531957  49.463844  48.689881
15         51.359742  51.067318  41.495061  51.529409  50.779059
20         54.364417  53.346737  40.238325  54.067395  53.170334
25         57.482574  55.504138  38.974300  56.166123  55.432935
30         59.809063  58.196374  38.703137  59.826738  57.713531
35         62.420615  60.350199  37.451996  62.440699  60.089372
40         65.052675  63.045537  36.574081  65.356386  62.916692
45         68.084082  66.258529  34.955595  68.438310  65.960888